form {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* #phrase-to-remember{
  background-color: black;
}

#by-artist{
  background-color: black;
}

#order-matters-div{
  background-color: black;
}  */

#card-for-text{
  padding: 20px;
  background-color: #282c34;
}